*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .world {
    overflow: hidden;
    position: relative;
  }
  
  .score {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    padding: 0.5rem 1rem;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    z-index: 1; /* Add this line */
  }
  
  
  .start-screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hide {
    display: none;
  }
  
  .ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%)
  }
  
  .dino {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
  }
  
  .cactus {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
  }
  .music-toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .music-toggle-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .music-toggle-container button:hover {
    background-color: #ddd;
  }
  .music-toggle-container-left {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .music-toggle-container-left button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .music-toggle-container-left button:hover {
    background-color: #ddd;
  }
  